<div class="row mt-1">
  <div class="col-md-12">

    <ul class="stepper stepper-vertical">

      <li class="completed">
        <a href="#!">
          <span class="circle">1</span>
          <span class="label">lispysnake2d launched (2019)</span>
        </a>
        <div class="step-content grey lighten-3">
          <p>Our initial research implementation was written in C, using only SDL and
          some convenience libraries. While it had full sprite rendering and Tiled support,
          it became apparent that C/SDL_Renderer was a very naive approach.
          </p>
        </div>
      </li>

      <li class="completed">

        <a href="#!">
          <span class="circle">2</span>
          <span class="label">serpent launched (2019)</span>
        </a>

        <div class="step-content grey lighten-3">
          <p>We launched serpent to address the shortcomings of the C/SDL lispysnake2d approach.
          Using a cross-platform language, libraries and the BGFX rendering library came together
          to create something very powerful.
          </p>
        </div>
      </li>

      <li class="completed">
        <a href="#!">
          <span class="circle">3</span>
          <span class="label">Paddle Demo Released (2020)</span>
        </a>

        <div class="step-content grey lighten-3">
        <p>After extensive work and architecture reviewing, we were able to release our first
        public demo of a Serpent-based game.
        </p>
        </div>
      </li>

        <!-- Next on the list.. //-->
      <li class="warning active">
        <a href="#!">
          <span class="circle"><i class="fas fa-exclamation"></i></span>
          <span class="label">Get ready for alpha</span>
        </a>

          <div class="step-content grey lighten-3">
              <p>Get all work completed for the first alpha. Build parallel demos to flesh out feature requirements</p>
          </div>
      </li>

      <li>
        <a href="#!">
          <span class="circle">4</span>
          <span class="label">First Stable Serpent Release</span>
        </a>
      </li>

      <li>
        <a href="#!">
          <span class="circle">5</span>
          <span class="label">Release our first true game built with Serpent</span>
        </a>
      </li>

    </ul>
  </div>
</div>
