{{ define "main" }}

<main role="main">
    <div class="container page-content">

        {{ if hasPrefix .URL "/blog/" }}
            <div class="col-12 border-bottom py-2">
                <div class="row">
                    <h1>{{.Params.Callout}}</h1>

                </div>
                <div class="row">
                    <div class="text-right">
                        <small class="text-muted">{{ .Date.Format "Monday, January 2, 2006" | safeHTML }} - </small>
                        {{ range .Params.authors }}
                            {{ with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
                                {{ .Params.name }} ({{.Params.role}})
                            {{ end }}
                        {{ end }}
                    </div>&nbsp;&nbsp;
                    <div class="text-right">
                        {{ range .Params.categories }}
                            {{ with $.Site.GetPage "taxonomyTerm" (printf "categories/%s" (urlize .)) }}
                                <a href="{{.Permalink}}"><span class="badge {{.Params.color}}">{{ .Params.name }}</span></a>
                            {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div>
        {{ end }}
        <br />
    {{ .Page.Content }}
    </div>
</main>

{{ end }}
