<div class="card lispy-card">
    <div class="card-body">
        <h5 class="card-title">{{.Title}}</h5>
        <div class="text-muted"><small>{{ .Date.Format "Monday, January 2, 2006" | safeHTML }}</small></div>
        <hr>
        <p>{{.Summary}} </p>
        <div>
            <a href="{{.Permalink}}" class="stretched-link" alt="Read more">Read more…</a>
        </div>
        <div class="authors">
            {{ range .Params.authors }}
                {{ with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
                    <span class="badge badge-success">{{ .Params.name }} ({{.Params.role}})</span>
                {{ end }}
            {{ end }}
        </div>
    </div>
</div>
