<footer class="page-footer font-small unique-color-dark pt-4 text-white">

    <div class="container-fluid text-center text-white">
        <div class="row">
            <div class="col my-3">
                <a href="/about/" class="text-white">Company</a> |
                <a href="/privacy/" class="text-white">Privacy</a>
            </div>
        </div>
    </div>

    <div class="footer-copyright text-center text-white">
        Copyright &copy; 2019-2020 <strong>Lispy Snake, Ltd.</strong> | Est. 2019 | Reg No. {{ .Site.Params.CompanyRegistration }} <br>
        <small><address>{{.Site.Params.CompanyAddress}}</address></small>
    </div>
</footer>
