{{ define "main" }}

<main role="main" class="shadow-sm">
    <div class="page-content container">
        <br />
        <div class="inner">
            {{ .Content }}
            <table class="table table-striped">
                    {{ range .Paginator.Pages }}
                    <tr>
                            <td><a href="{{.Permalink}}" class="title text-muted h4">{{.LinkTitle}}</a><br />{{.Summary}}</td>
                            <td>{{.PublishDate}}</td>
                    </tr>
                    {{ end }}
            </table>
            </ul>
        </div>

        <br />
    </div>
</main>

{{ end }}
