{{ define "title" }}
<title>Blog | {{.Site.Title}}</title>
{{ end }}

{{ define "main" }}

<main role="main" class="shadow-sm">
    <div class="page-content container">
        <br />
        <div class="inner">
            {{ .Content }}

            <div class="card-group">
                    {{ range .Paginator.Pages }}
                    <div class="card shadow-sm">
                            <div class="card-body">
                                    <h5 class="card-title">{{.Title}}</h5>
                                    <div class="text-muted">{{ dateFormat "Monday, Jan 3, 2006" .Date | safeHTML  }}</div>
                                    <p>{{.Summary}} </p>
                                    <div>
                                        <a href="{{.Permalink}}" class="stretched-link" alt="Read more">Read more…</a>   
                                    </div>
                                    <div style="float: right;">
                                        {{ range .Params.authors }}
                                                {{ with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
                                                <span class="badge badge-success text-right">{{ .Params.name }} ({{.Params.role}})</span>
                                                {{ end }}
                                        {{ end }}
                                    </div>
                            </div>
                    </div>
                    {{ end }}
            </div>
        </div>

        <br />
    </div>
</main>

{{ end }}
