{{ define "main" }}

<main role="main" class="shadow-sm">
    <div class="page-content container">
        <br />
        <div class="inner">
            {{ .Content }}
            <table class="table table-striped">
                    {{ range .Paginator.Pages }}
                    <tr>
                            <td><a href="{{.Permalink}}" class="title text-muted h4">{{.LinkTitle}}</a><br />{{.Summary}}</td>
                            <td>
                            {{ range .Params.authors }}
                                {{ with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
                                    <span class="badge badge-success">{{ .Params.name }} ({{.Params.role}})</span>
                                {{ end }}
                            {{ end }}
                            <br />{{ dateFormat "Monday, Jan 3, 2006" .Date | safeHTML  }}
</td>
                    </tr>
                    {{ end }}
            </table>
            </ul>
        </div>

        <br />
    </div>
</main>

{{ end }}
