{{ define "main" }}

<main role="main" class="shadow-sm">
    <div class="page-content container">
        <br />
        <div class="inner">
            {{ .Page.Content }}
        </div>
        <br />
        {{ range .Params.authors }}
            {{ with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
                <span class="badge badge-success">{{ .Params.name }} ({{.Params.role}})</span>
            {{ end }}
        {{ end }}
        <br />{{ dateFormat "Monday, Jan 3, 2006" .Date | safeHTML  }}
    </div>
</main>

{{ end }}
