{{ define "main" }}

<main role="main" class="flex-fill">
    <div class="page-content container">
        <div class="row">
            <div class="col-10">
                {{ .Page.Content }}
            </div>
            <div class="col">
                {{ if hasPrefix .URL "/blog/" }}
                {{ range .Params.authors }}
                    {{ with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
                        <span class="badge badge-success">{{ .Params.name }} ({{.Params.role}})</span>
                    {{ end }}
                {{ end }}
                <span class="text-muted">{{ .Date.Format "Monday, January 2, 2006" | safeHTML }}</span>
                {{ end }}
            </div>
        </div>
    </div>
</main>

{{ partial "footer.html" . }}

{{ end }}
