{{ define "main" }}
<main role="main">

<div class="container page-content">

    <div class="">
        <div class="z-depth-5">
            {{ partial "homeCarousel.html" . }}
        </div>
    </div>

    <br />
    <br />

    {{.Page.Content}}

    <br />
    <br />
    <div>
        <h3>Latest news</h3>
        <br />
        <div class="card-deck">
                <!-- Most recent posts //-->
                {{- range ( where site.RegularPages "Section" "blog" | first 4 ) }}
                {{ partial "blogentryMini.html" . }}
                {{ end }}
        </div>
    </div>
    <br />
</div>

</main>
{{ end }}
