<br />
<footer class="container">
    <div class="container">
            <div class="row">
                    <div class="col-8 text-muted">
                        <address>
                            Copyright &copy; 2019 <strong>Lispy Snake, Ltd.</strong> | Est. 2019 | Reg No. {{ .Site.Params.CompanyRegistration }}<br />
                            {{ .Site.Params.CompanyAddress }}
                        </address>
                    </div>
                    <div class="col-4 justify-end text-muted">
                        <a href="https://github.com/lispysnake" class="text-muted"><i class="fab fa-github"></i> GitHub</a>
                        &nbsp;<a href="https://twitter.com/LispySnakeLtd" class="text-muted"><i class="fab fa-twitter"></i> Twitter</a>
                    </div>
            </div>
    </div>
</footer>
