<br />
<footer>
    <div class="container">
            <div class="row">
                    <div class="col-8 text-muted">
                            Copyright &copy; 2019 <strong>Lispy Snake, Ltd.</strong> | Est. 2019 | Reg No. {{ .Site.Params.CompanyRegistration }}<br />
                    </div>
                    <div class="col-4 justify-end text-muted">
                        <span><a href="{{ .Site.Params.SocialGithub }}" class="text-muted"><i class="fab fa-github"></i> GitHub</a></span>
                        <span><a href="{{ .Site.Params.SocialTwitter }}" class="text-muted"><i class="fab fa-twitter"></i> Twitter</a></span>
                    </div>
            </div>
    </div>
</footer>
