<nav class="navbar navbar-expand-lg lispy-nav">
    <a class="navbar-brand" href="/">
        <img class="ml-5" src="/img/logo.png" srcset="/img/logo@2x.png 2x" />
        LISPY<strong>SNAKE</strong>
    </a>

    <!-- Toggle button availability //-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsable navigation menu //-->
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <!-- Links //-->
        <ul class="navbar-nav ml-auto mr-5">
            <!-- Emit links for the context //-->
            {{ partial "headlink.html" (dict "link" "/" "name" "Home" "context" . ) }}
            {{ partial "headlink.html" (dict "link" "/about/" "name" "About" "context" . ) }}
            {{ partial "headlink.html" (dict "link" "/blog/" "name" "Blog" "context" . ) }}
            {{ partial "headlink.html" (dict "link" "/contact/" "name" "Contact" "context" . ) }}
            {{ partial "headlink.html" (dict "link" "/the-game-raiser" "name" "The Game Raiser" "context" . ) }}
            {{ partial "headlink.html" (dict "link" "/the-last-peacekeeper" "name" "The Last Peacekeeper" "context" . ) }}
        </ul>
    </div>
</nav>
