<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Set up bootstrap CSS //-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <style>
                main .page-content {
                        margin-top: 50px;
                }

                /* Sticky footer per the getbootstrap demo */
                html {
                        position: relative;
                        min-height: 100%;
                }
                body {
                        margin-bottom: 60px;
                }

                footer {
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        height: 60px;
                        line-height: 60px;
                        background-color: #f5f5f5;
                }
                /* End sticky footer */

        </style>

        {{ if .IsHome }}
        <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Lispy Snake",
            "legalName" : "Lispy Snake Ltd.",
            "url": "https://www.lispysnake.com",
            "logo": "https://lispysnake.com/img/logo.svg",
            "foundingDate": "2019",
            "founders": [
            {
                "@type": "Person",
                "name": "Ikey Doherty"
            }],
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "International House, 24 Holborn Viaduct",
                "addressLocality": "London",
                "addressRegion": "London",
                "postalCode": "EC1A2BN",
                "addressCountry": "UK"
            },
           "contactPoint": {
                "@type": "ContactPoint",
                "contactType": "help",
                "email": "info@lispysnake.com"
            },
            "sameAs": [ 
                "https://github.com/lispysnake",
                "https://twitter.com/LispySnakeLtd"
            ]
        }
        </script>
        {{ else }}
        <script type="application/ld+json">
        {
            "@context" : "http://schema.org",
            "@type" : "BlogPosting",
            "mainEntityOfPage": {
                 "@type": "WebPage",
                 "@id": {{ printf "%s" .Site.BaseURL }}
            },
            "articleSection" : "{{ .Section }}",
            "name" : "{{ .Title }}",
            "headline" : "{{ .Title }}",
            "description" : {{ printf "%s" .Summary | safeHTML}},
            "inLanguage" : "en-US",
            "author" : "Ikey Doherty",
            "creator" : "Lispy Snake, Ltd.",
            "publisher": "Lispy Snake, Ltd.",
            "accountablePerson" : "Ikey Doherty",
            "copyrightHolder" : "Lispy Snake, Ltd.",
            "copyrightYear" : "{{ .Date.Format "2006" }}",
            "datePublished": {{ .PublishDate.Format "2006-01-02T15:04:05-07:00" }},
            "dateModified" : {{ .Lastmod.Format "2006-01-02T15:04:05-07:00" }},
            "url" : {{ printf "%s" .Permalink }},
            "wordCount" : "{{ .WordCount }}",
            "keywords" : [ {{ if isset .Params "tags" }}{{ range .Params.tags }}"{{ . }}",{{ end }}{{ end }}"lispy snake", "ikey doherty", "foss", "linux", "indie", "game development", "game", "open source", "linux-steam-integration", "desktop", "ikey solus" ]
        }
        </script>
        {{ end }}

        <!-- Our own additions //-->
        {{ block "title" . }}
        <title>{{.Page.Title}} | {{.Site.Title}}</title>
        {{ end }}
    </head>


{{ partial "header.html" . }}

<body>
{{ block "main" . }}
<h1>POPULATE ME</h1>
{{ end }}

{{ partial "footer.html" . }}

        <!-- Bootstrap theme requirements (JS assets) //-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- FontAwesome support //-->
        <script src="https://kit.fontawesome.com/3510612596.js"></script>
    </body>
</html>
