{{ define "main" }}

<main role="main">

    <div class="jumbotron">
        <div class="container">
            <h2 class="display-4">So Hawt.</h2>
            {{ .Page.Content }}
        </div>
    </div>
    <div class="page-content container">
                <div class="card-deck">
                    <div class="card shadow-sm mb-3">
                        <div class="card-header"><h5 class="card-title">Free Thinking</h5></div>
                        <p class="card-body">Our unique approach to problem solving is reflected in our software design. This elegance leads to a better platform and experience for our users, and yours.</p>
                    </div>
                    <div class="card shadow-sm mb-3">
                        <div class="card-header"><h5 class="card-title">Software You Need</h5></div>
                        <p class="card-body">We build software solutions catering to your specific problems. We'll work to minimise your technical debt by leveraging open source components, including our own.</p>
                    </div>
                    <div class="card shadow-sm mb-3">
                        <div class="card-header"><h5 class="card-title">Games You Want</h5></div>
                        <p class="card-body">Our games are based around our core principles, focusing more on depth than visuals. Our first 2D title is being developed right now, and we'll blog about the demo when ready.</p>
                    </div>
                </div>
    </div>
</main>

{{ end }}
