{{ define "main" }}
<link rel="stylesheet" type="text/css" href="slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>

<main role="main" class="flex-fill">
    <div class="page-content container">

        <div class="img-slick-slider">
            <div>
                <img src="img/gallery/titlescreen.png" alt="last_peacekeeper">
                <div class="img-caption">The Last Peacekeeper - Upcoming Title</div>
            </div>
            <div>
                <img src="img/gallery/Autoscale.png" alt="Autoscale">
                <div class="img-caption">Tiled Map Editor support</div>
            </div>
            <div>
                <img src="img/gallery/Intro.png" alt="intro">
                <div class="img-caption">Robust 2D support</div>
            </div>
            <div>
                <img src="img/gallery/MangoHUD.png" alt="mangohud">
                <div class="img-caption">Vulkan-ready framework</div>
            </div>
            <div>
                <img src="img/gallery/PostBatch.png" alt="prebatch">
                <div class="img-caption">Highly optimized code</div>
            </div>
        </div>


        <div class="card-deck mt-5">
            <div class="row mt-2">
                <div class="col">
                    <div class="lispy-card py-2 px-5 pt-45">
                        <div class="lispy-card-title-small">
                            Harnessing Open Source
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                We're proud of our open source roots as a company. As a result, we build upon open source software for all of our solutions. We also build cool open source projects.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="lispy-card py-2 px-5 pt-45">
                        <div class="lispy-card-title-small">
                            Building Triple-A Solutions
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                We look to empower indie game developers to create the content they dream of, with the tools they actually need. AAA-quality tools, without the price tag.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="lispy-card py-2 px-5 pt-45">
                        <div class="lispy-card-title-small">
                            Indie Game Developers
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                More than anything, we're indie game developers. We're not looking to change the world, just enrich the content and creativity within it.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>






<!-- Obnoxious call-out
<div class="jumbotron">
    <div class="container">
        <h2 class="display-4">So. Much. Awesome.</h2>
        {{ .Page.Content }}
          <a href="/the-game-raiser" class="btn btn-primary"><i class="fas fa-star left"></i> Support Us</a>
    </div>
</div> -->










{{ partial "footer.html" . }}

{{ end }}

{{ define "slick" }}
<script type="text/javascript" src="slick/slick.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
      $('.img-slick-slider').slick({
          autoplay: true,
          autoplaySpeed: 4000,
          dots: true
      });
    });
</script>

{{ end }}
