/*
    Links
*/
a {
    transition: color .5s;

    &:hover {
        color: $blue !important;
    }

    &:link,
    &:visited {
        color: $red;
        font-weight: bold;
    }
}

.container {
    margin-top: 120px !important;
}


/*
    Cards
*/
.lispy-card-title {
    background: $red;
    border: 1px solid darken($red, 10%);
    box-shadow: 0 1px 5px rgba(0,0,0,0.35), 0 1px 4px rgba(0,0,0,0.24);
    color: white;
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: -75px;
    padding: 8px 30px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: auto;
}

.lispy-card-header {
    background: $blue;
    border: 1px solid $blue;
    border-radius: 3px 3px 0 0;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 10px;
    text-align: center;
}

.lispy-card {
    border: 1px solid $header;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.35), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.5s;

    &:hover {
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
    }

    .card-title {
        font-weight: bold;
    }

    figure,
    img {
        display: block;
        margin: 15px auto;
        text-align: center;
    }

    img {
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.53), 0 3px 12px rgba(0, 0, 0, 0.26);
    }

    pre {
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
    }
}

.no-border {
    border: none;
}

.pt-45 {
    padding-top: 45px !important;
}

/*
    Badges
*/
.badge {
    border-radius: 0;
    padding: 10px;
}

.badge-success {
    background: $green;
    transition: all .5s;
}


/*
    Blog
*/
.authors {
    float: right;
}


/*
    Pagination
*/
.page-item {
    &.active {
        .page-link {
            border: 1px solid lighten($blue, 20%);
            background: $blue;
            color: white;

            &:hover {
                color: $red !important;
            }
        }
    }
}


/*
    Bootstrap overrides
*/
h2,
h3 {
    border-bottom: 1px solid $header;
    font-weight: bolder;
    margin-top: 35px;
    padding-bottom: 5px;
}
