.lispy-footer {
    background: $blue;

    a {
        &:hover {
            color: $red !important;
        }
    }

    hr {
        border-color: yellow;
    }

    .icons {
        font-size: 2em;

        i {
            color: $header;
            transition: all .5s;

            &:hover {
                color: $red;
            }
        }
    }
}
