<br />

<div class="card">
    <div class="card-header">
        <h5>Buy The Game Raiser Lifetime License</h5>
    </div>
    <div class="card-body mt-3 py-3 justify-content-center">
        <p class="card-text">Buy a Lifetime License for lifetime access to all of our upcoming 2D game titles. This support will vastly reduce time-to-market, as well as getting the engine open sourced much sooner. Cheap price, good results, and open source improvements. Winning. Remember, we will only issue 1,000 licenses in total.
        </p>
        <br />
        <center>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="ELBUJ3Q7EKMH4">
            <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
        </form>
        </center>
{{ $min := 0 }}
{{ $total := 1000.0 }}
{{ $current := 18.0 }}
{{ $fraction := div $current $total  }}
{{ $percent := mul $fraction 100.0 }}
{{ $remaining := sub $total $current }}
    </div>
    <div class="card-footer text-muted">

    <small><strong>{{$remaining}} licenses remain</strong>. Updated on a daily basis</small>
    <div class="progress md-progress">
        <div class="progress-bar" role="progressbar" style="width: {{$percent}}%;" aria-valuenow="{{$current}}" aria-valuemin="{{$min}}" aria-valuemax="{{$total}}"></div>
    </div>
    </div>
</div>

<br />
